<html>
  <head>
    <title>Pizza Order - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <td>Username: </td> <input type="text" placeholder="Username" name="username" value="">
        <br>
        <td>Password: </td><input type="password" placeholder="Password" name="password" value="">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>