<html>
  <head>
    <title>Pizza Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/order.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    <div class="topnav">
        <a class="active" href="#home">Pizza Shop</a>
        <img align="right" src="https://w7.pngwing.com/pngs/419/473/png-transparent-computer-icons-user-profile-login-user-heroes-sphere-black-thumbnail.png" class="loginlogo">
      </div>

    <div class="container">
      <div class="header"><h1>Order</h1></div>
      <br>
      <form action="" method="post">
        <div class="text">Size: </td> </div>
        <br>
        <select name="work_days" id="food_option" multiple>
            <option value="1">Large</option>
            <option value="2">Medium</option>
            <option value="3">Small</option>
          </select>
        <br>
        <br>
        <div class="text"><td>Topping: </td> </div>
        <br>
        <select name="work_days" id="food_option" multiple>
            <option value="1">Sausage</option>
            <option value="2">Tomato</option>
            <option value="3">Mushroom</option>
            <option value="4">Pinnapple</option>
            <option value="5">Banana</option>
            <option value="6">Chocolate</option>
          </select>
        <br>
        <input class="btn btn-default" type="submit" value="Order Pizza">
      </form>
    </div>
  </body>
</html>