{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<center><h1>Order # {{ id }}</h1></center>
<div id="notifications"></div>

<!-- Dynamically grab notifications here -->
<script>
  // TODO: use a single endpoint for both services, taking ID + TOKEN
  // ^^^^ use auth header attribute
  document.cookie = 'token={{ token }}; path=/';
  var addr = "ws://{{ switchboardAddr }}/orders/{{ id }}/events";
  const socket = new WebSocket(addr);

  socket.onclose = function(event) {
    alert("Authorization required. Redirecting to login.");
    window.location.replace("/login");
  }

  socket.addEventListener('open', function (event) {
      socket.send('Connection Established');
  });

  socket.addEventListener('message', function (event) {
      var resp = JSON.parse(event.data);
      console.log(resp);
      var notif = document.createElement('div');
      notif.className = 'notifBox';
      notif.innerHTML = JSON.parse(resp.message.payload).message;
      document.getElementById("notifications").appendChild(notif);
  });

</script>
{% endblock %}