{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<center><h1>Order # {{ id }}</h1></center>
<div id="notifications"></div>

<!-- Dynamically grab notifications here -->
<script>
  // TODO: use a single endpoint for both services, taking ID + TOKEN
  // ^^^^ use auth header attribute
  // TODO: fix endpoint to general events
  var addr = "ws://localhost:8080/orders/" + {{ id }} + "/events";
  const socket = new WebSocket(addr);

  // TODO: make this try/except! If connection doesn't work, check
  // error payload. This should tell us whether the auth plugin
  // blocked us or not! And if blocked, redirect to login page
  // Use an alert to make it seem less arbitrary

  socket.addEventListener('open', function (event) {
      socket.send('Connection Established');
  });

  socket.addEventListener('message', function (event) {
      var resp = JSON.parse(event.data);
      console.log(resp);
      var notif = document.createElement('div');
      notif.className = 'notifBox';
      notif.innerHTML = JSON.parse(resp.message.payload).message;
      document.getElementById("notifications").appendChild(notif);
  });
</script>
{% endblock %}